body {
  background-color: #f8f9fa;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  text-align:center;
  background-color: white;
  padding: 20px 0;
}

.form-label {
  font-size: 14px;
}

.btn {
  padding: 10px;
}

header {
  text-align:center;
  background-color: black;
  color: white;
  padding: 10px 0;
}

.table {
  background-color: white;
}

.card {
  border: none;
}

.card-title {
  font-size: 16px;
  padding-bottom: 20px;
}

.complete-icon {
  font-size: 48px;
  color:green;
}
